<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用</title>
    <style>
        h1 {
            text-align : center
        }

        div h2{
            border :solid black;
            font-faimly : 楷体 ;
            color : red
        }
    </style>
</head>
<body>
    <h1>网页的注册</h1>
    <form action="{{ url_for('login') }}" method="post"> #选择要发送至的@修饰器
        <p>姓名 : <input type="text" placeholder="请输入姓名" name="name"></p>
        <p>邮箱 : <input type="email" placeholder="请输入邮箱" name="e_mail"></p>
        <p>电话 : <input type="tel" placeholder="请输入您的电话" name="phone"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>